// These colors are specific to the theme. Do not use in a package!

@cyan: #7DD6FA;
@blue: #3591E6;
@purple: #b294bb;
@green: #18E012;
@red: #DE333C;
@lime: #EAF589;
@yellow: #E6DB74;
@orange: #FF9D00;
@light-orange: #f0c674;

@dark-gray: #212121;
@darker-gray: #262626;
@light-gray: #889196;
@white: #E7EAF5;
@gold-gray: #3B3A32;
@dark-green: #7CB38C;
@very-light-gray: #c5c8c6;
@gray: #889196;
@very-dark-gray: #1d1f21;
