// Language syntax highlighting

.syntax--comment {
  color: @color-comment;
  // background-color: @color-comment-bg;
  // padding: 2px 100% 3px 0;
  font-style: italic;
  // z-index: 0;

  .syntax--markup.syntax--link {
    color: @color-storage;
  }
}

.syntax--keyword {
  color: @color-function;
  font-style: italic;

  &.syntax--control {
    color: @color-storage;
  }

  &.syntax--operator {
    color: @color-function;
  }

  &.syntax--other.syntax--special-method {
    color: @color-function;
  }

  &.syntax--other.syntax--unit {
    color: @color-numbers;
  }
}

.syntax--storage {
  color: @color-storage;
  font-weight: bold;

  &.syntax--type {
    &.syntax--annotation,
    &.syntax--primitive {
      font-weight: bold;
      color: @color-storage;
    }
    &.syntax--function {
      color: @color-text;
      font-weight: bold;
    }
  }

  &.syntax--modifier {
    &.syntax--package,
    &.syntax--import {
      color: @color-storage;
    }
  }
}

.syntax--constant {
  color: @color-numbers;

  &.syntax--variable {
    color: @color-numbers;
  }

  &.syntax--character.syntax--escape {
    color: @color-string;
  }

  &.syntax--numeric {
    color: @color-numbers;
  }

  &.syntax--other.syntax--color {
    color: @color-numbers;
  }

  &.syntax--other.syntax--symbol {
    color: @color-numbers;
  }
}

.syntax--variable {
  color: @color-variable;
}

.syntax--string {
  color: @color-string;
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @color-comment;
      // padding-right: 0;
    }

    &.syntax--method-parameters,
    &.syntax--function-parameters,
    &.syntax--parameters,
    &.syntax--separator,
    &.syntax--seperator,
    &.syntax--array {
      color: @color-storage;
      font-style: italic;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @color-class;
    }

    &.syntax--bold {
      color: @color-class;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @color-class;
      font-style: italic;
    }
  }

  &.syntax--section {
    &.syntax--embedded {
      color: @color-variable;
    }

    &.syntax--method,
    &.syntax--class,
    &.syntax--inner-class {
      color: @color-class;
    }
  }
}

.syntax--support {
  &.syntax--class {
    color: @color-numbers;
  }

  &.syntax--type {
    color: @color-numbers;
  }

  &.syntax--function  {
    color: @color-numbers;

    &.syntax--any-method {
      color: @color-numbers;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @color-function;
    font-style: italic;
  }

  &.syntax--name.syntax--type {
    color: @color-class;
  }

  &.syntax--other.syntax--inherited-class {
    color: @color-class;
  }

  &.syntax--name.syntax--class,
  &.syntax--name.syntax--type.syntax--class {
    color: @color-class;
  }

  &.syntax--name.syntax--section {
    color: @color-storage;
  }

  &.syntax--name.syntax--tag {
    color: @color-storage;
  }

  &.syntax--other.syntax--attribute-name {
    color: @color-storage;

    &.syntax--id {
      color: @color-string;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @color-class;

    &.syntax--body {
      color: @color-class;
    }
  }

  &.syntax--method-call,
  &.syntax--method {
    color: @color-function;
  }

  &.syntax--definition {
    &.syntax--variable {
      color: @color-function;
    }
  }

  &.syntax--link {
    color: @color-storage;
  }

  &.syntax--require {
    color: @color-string;
  }

  &.syntax--selector {
    color: @color-string;
  }

  &.syntax--separator {
    color: @color-numbers;
  }

  &.syntax--tag {
    color: @color-numbers;
  }
}

.syntax--underline {
  text-decoration: underline;
}

.syntax--invalid {
  &.syntax--deprecated {
    color: @color-comment;
  }
  &.syntax--illegal {
    color: @color-illegal;
  }
}
